<%- include ('partials-admin/_header-admin')  %>

    <!-- Sección del contenido (Cuerpo general) -->
    

    <div class="content">

       
        <div class="container-estado">
            <h3 class="text-center">Solicitudes pendientes</h3>

            <table class="table order-table text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RUT</th>
                        <th>CODIGO ACTIVIDAD</th>
                        <th colspan="3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < data.length; i++) { %>
                        <% if (data[i].estado_solicitud == 0) { %>
                            <tr>
                                <td> <%= data[i].id_solicitud %> </td>
                                <td> <%= data[i].rut %> </td>
                                <td><%= data[i].codigo_actividad %></td>
                                <td>
                                    <a href="/aceptar-usuario/<%= data[i].id_solicitud %>" class="boton aceptar">Aceptar</a>
                                    <a href="/eliminar/<%= data[i].id_solicitud %>" class="boton eliminar">Rechazar</a>
                                    <a href="/usuarios-admin" class="boton info">Detalles</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
       

        <div class="container-tabla">
            <h3 class="text-center">Solicitudes</h3>
            <div class="busqueda">
                <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Buscar...">
            </div>

            <table class="table order-table text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RUT</th>
                        <th>CODIGO ACTIVIDAD</th>
                        <th colspan="3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                            
                            <% if (data[i].estado_solicitud == 1) { %>
                                <tr>
                                    <td> <%= data[i].id_solicitud %> </td>
                                    <td> <%= data[i].rut %> </td>
                                    <td> <%= data[i].codigo_actividad %> </td>
                                    <td>
                                        <a href="/aceptar-usuario/<%= data[i].correo %>" class="boton info">Detalles</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>

    </div>

<%- include ('partials-admin/_footer-admin')  %>