<%- include ('partials-home/_header-home')  %> 

        <div class="form-user">
            <div class="separador"></div>
            <div class="container-form">
                <h2 class="centrado texto-ng" id="add-service">SOLICITAR MODIFICACIÓN DEL SERVICIO</h2>
                
                <form action="/modificar-servicio-emp/<%= data.id_servicio %>" method="POST">
                    <div class="data">
                        <h3 class="negrita">Título</h3>
                        <div class="input-user">
                            <input type="text" name="titulo" value="<%= data.titulo %>" required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Descripción</label>
                        <div class="input-user">
                            <textarea name="descripcion" required><%= data.descripcion %></textarea>
                        </div>
                    </div>
                    <div class="data">
                        <label>Ubicación</label>
                        <div class="input-user">
                            <input type="text" name="geo_local" value="<%= data.geo_local%>" required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Teléfono o Celular</label>
                        <div class="input-user">
                            <input type="text" name="telefono" value="<%= data.telefono %>" required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Correo electrónico</label>
                        <div class="input-user">
                            <input type="text" name="contacto_correo" value="<%= data.contacto_correo %>" required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Facebook (opcional) </label>
                        <div class="input-user">
                            <input class="text" name="facebook" value="<%= data.facebook%>"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label>Twitter (opcional) </label>
                        <div class="input-user">
                            <input class="text" name="twitter" value="<%= data.twitter%>"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label>Instagram (opcional) </label>
                        <div class="input-user">
                            <input class="text" name="instagram" value="<%= data.instagram%>"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label>Sitio web (opcional)</label>
                        <div class="input-user">
                            <input class="text" name="web" value="<%= data.web%>"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label for="cars">Seleccione la categoría de su servicio:</label>
                        <select class="select-user" id="mySelect" name="nombre_cat">
                            <option value="<%= data.nombre_cat%>" selected="true" ><%= data.nombre_cat%> (Actual)</option>
                            <% for(var i=0; i < datacat.length; i++) { %>
                                <% if (datacat[i].nombre_cat != data.nombre_cat){  %>
                                    <option value="<%= datacat[i].nombre_cat %>"><%= datacat[i].nombre_cat %></option>
                                <% } %>
                            <% } %>
                        </select required>
                    </div>
                    <div class="data">
                        <label for="cars">Seleccione la subcategoría de su servicio:</label>
                        <select class="select-user" id="mySelectDos" name="nombre_subcat">
                            <% if(data.nombre_subcat === null || data.nombre_subcat === "" ){ %>
                                <option  category="<%= data.nombre_cat %>" actual="actual" value="null" selected="true" ><%= "Ninguna" %> (Actual)</option>
                            <% }else{ %>
                                <option  category="<%= data.nombre_cat %>" value="null" ><%= "Ninguna" %></option>
                                <option actual="actual" all="all" category="<%= data.nombre_cat %>" value="<%= data.nombre_subcat%>" selected="true" ><%= data.nombre_subcat%> (Actual)</option>
                            <% } %>
                            
                            <% for(var i=0; i < datasubcat.length; i++) { %>
                                <% if (datasubcat[i].nombre_subcat != data.nombre_subcat){  %>
                                    <option all="all" category="<%= datasubcat[i].nombre_cat %>" value="<%= datasubcat[i].nombre_subcat %>" ><%= datasubcat[i].nombre_subcat %></option>
                                <% } %>
                            <% } %>
                        </select>
                    </div>
                    <!-- <div class="data">
                        <label>Sernatur</label>
                        <div class="file">
                            <input class="file" type="file" placeholder="x" required>
                        </div>
                    </div> -->
                    <!-- <div class="img">
                        <label>Sernatur</label>
                        <div class="file">
                            <input class="file" type="file" placeholder="x" required>
                        </div>
                    </div> -->
                    <div class="boton"> 
                        <button onclick="return confirm('Una vez que modifiqué su servicio, quedará a la espera de la autorización del administrador y se eliminará el registro actual')" type="submit">Modificar registro</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {
                
                
                $('#mySelectDos option[all="all"]').hide();
                var valueDos = $('#mySelectDos option[actual="actual"]').attr("category");
                $('#mySelectDos option[category="' + valueDos + '"]').show();
                // combobox y servicios
                $('#mySelect').on('change', function () {

                    var value = $(this).val();
                    //var Todos =   $("#mySelect option[value='Todos']").attr("selected", true);

                    $('#mySelectDos option[all="all"]').hide();
                    $('#mySelectDos').val("null");
                    $('#mySelectDos option[category="' + value + '"]').show();
                
                });

            });
        </script>

<%- include ('partials-home/_footer-home')  %> 