<%- include ('partials-admin/_header-admin')  %>


        <!-- Sección del contenido (Cuerpo general) -->
        <div class="content">

            <% if (data.length > 0) { %>
                <div class="container-estado">
                    <h3 class="text-center">servicios pendientes</h3>
        
                    <table class="table order-table text-center">
                        <thead>
                            <tr>
                                <th>Título</th>
                                <th>Ubicación</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <% if (data[i].solicitud == 0) { %>
                                    <tr>
                                        <td> <%= data[i].titulo %> </td>
                                        <td> <%= data[i].geo_local %> </td>
                                        <td>
                                            <a href="/aceptar-servicio/<%= data[i].id_servicio %>" class="boton aceptar">Aceptar</a>
                                            <a href="/eliminar-servicio-user/<%= data[i].id_servicio %>" class="boton eliminar">Rechazar</a>
                                        </td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>

            <div class="container-tabla">
                <h3 class="text-center">servicios de usuarios</h3>
                <div class="busqueda">
                    <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Buscar...">
                </div>

                <table class="table order-table text-center">
                    <thead>
                            <tr>
                                <th>ID</th>
                                <th>Título</th>
                                <th>Ubicación</th>
                                <th>Teléfono</th>
                                <th>Correo</th>
                                <th colspan="2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data) { %>
                                <% for(var i = 0; i < data.length; i++) { %>
                                    <% if (data[i].solicitud == 1) { %>
                                        <tr>
                                            <td> <%= data[i].id_servicio %> </td>
                                            <td> <%= data[i].titulo %> </td>
                                            <td> <%= data[i].geo_local %> </td>
                                            <td> <%= data[i].telefono %> </td>
                                            <td> <%= data[i].contacto_correo %> </td>
                                            <td><a href="/eliminar-servicio-user/<%= data[i].id_servicio %>" class="boton eliminar">Eliminar</a></td>
                                        </tr>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </tbody>
                </table>
                
            </div>

        </div>

<%- include ('partials-admin/_footer-admin')  %>