<%- include ('partials-admin/_header-admin')  %>

    <!-- Sección del contenido (Cuerpo general) -->
    <div class="content">
        <div class="container-tabla">
            <h3 class="text-center">Categorías</h3>
            <div class="busqueda">
                <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Buscar...">
            </div>
            <table class="table order-table text-center">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Categoría</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (datacat) { %>
                        <% for(var i = 0; i < datacat.length; i++) { %>
                            <tr>
                                <td> <%= i+1 %> </td>
                                <td> <%= datacat[i].nombre_cat %> </td>
                                <% if (datacat[i].nombre_cat != "Agencias y TTOO" && datacat[i].nombre_cat != "Alojamientos" && datacat[i].nombre_cat != "Paseos Náuticos" && datacat[i].nombre_cat != "Servicios Gastronómicos" ) {%>
                                    <td>
                                        <a href="/eliminar-categoria/<%= datacat[i].nombre_cat%>" class="boton eliminar">Eliminar</a>
                                    </td>
                                
                                <td>
                                    <a onclick="cambiarboton('<%= datacat[i].nombre_cat%>')" id="btn-abrir-popup" class="boton actualizar btnpop">Modificar</a>
                                </td>

                                <% } %>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>    
        </div>

        <div class="separador"></div>

        <div class="container-tabla">
            <h3 class="text-center">Subcategorías</h3>
            <div class="busqueda">
                <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Buscar...">
            </div>
            <table class="table order-table text-center">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Categoria</th>
                        <th>Subcategoría</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (datasubcat) { %>
                        <% for(var i = 0; i < datasubcat.length; i++) { %>
                            <tr>
                                <td> <%= i+1 %> </td>
                                <td> <%= datasubcat[i].nombre_cat %> </td>
                                <td> <%= datasubcat[i].nombre_subcat %> </td>
                                <td>
                                    <% var params = datasubcat[i].nombre_cat + '+' + datasubcat[i].nombre_subcat%>
                                    <a href="/eliminar-subcategoria/<%=params%>" class="boton eliminar">Eliminar</a>
                                </td>
                                <td>
                                    <a onclick="cambiarbotonDos('<%= datasubcat[i].nombre_cat%>','<%= datasubcat[i].nombre_subcat%>')" id="btn-abrir-popup" class="boton actualizar btnpop-dos">Modificar</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>    
        </div>

        <div class="separador"></div>
        
        <!-- ADD Categoria  -->
        <div class="container-form">
            <h3 class="text-center">Agregar una Categoría</h3>
            <form action="/agregar-categoria" enctype="multipart/form-data" method="POST">
                <div class="datos">
                    <label>Nombre</label>
                    <div class="input-user">
                        <input class="text" type="text" name="nombre_cat" placeholder="Nombre de la categoría" required>
                    </div>
                </div>
                <div class="boton">
                    <button type="submit">Agregar Categoría</button>
                </div>
            </form>
        </div>

        <div class="separador"></div>

        <!-- ADD SUB-CATEGORIA -->
        <div class="container-form">
            <h3 class="text-center">Agregar una Subcategoría</h3>
            <form action="/agregar-subcategoria" enctype="multipart/form-data" method="POST">
                <div class="contenedor-subcat">

                    <div class="form-subcat">
                        <label for="cars">Categoría:</label>
                        <select name="nombre_cat">
                            <% for(var i=0; i < datacat.length; i++) { %>
                            <option value="<%= datacat[i].nombre_cat %>"><%= datacat[i].nombre_cat %></option>
                            <% } %>
                        </select required>
                    </div>
                    
                    <div class="form-subcat">
                        <label for="cars">Subcategoría:</label>
                        <input class="subcat" name="nombre_subcat" placeholder="" required></input>
                    </div>

                </div>
                <div class="boton">
                    <button type="submit">Agregar Subcategoría</button>
                </div>
            </form>
        </div>

        <!-- POPUP CATEGORIA -->

        <div class="overlay" id="overlayUno">
			<div class="popup" id="popupUno">
				<a  id="btn-cerrar-popup-uno" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                <h3 class="text-center">Modificar categoría</h3>
				<form action="/modificar-categoria" method="POST">
                    <div class="datos-popup contenedor-inputs">
                        <label>Categoria (Actual) </label>
                        <input id="nombrecat-actual"  class="text input-disabled" type="text" readonly="readonly" name="nombre_cat" >
                    </div>
                    <div class="datos-popup contenedor-inputs">
                        <label>Modificar Categoría</label>
                        <input placeholder="Ingrese el nuevo nombre de la categoría" class="text" type="text" name="new_nombre_cat" required >
                    </div>
                    
                    <div class="boton">
                        <button type="submit">Modificar categoría</button>
                    </div>
				</form>
			</div>
            
		</div>

        <!-- POP UP SUB CATEGORIA -->
        
        <div class="overlay" id="overlayDos">
			<div class="popup" id="popupDos">
				<a  id="btn-cerrar-popup-dos" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                <h3 class="text-center">Modificar Subcategoría</h3>
				<form action="/modificar-subcategoria" method="POST">

                    <div class="datos-popup contenedor-inputs">
                        <div class="label-popup">
                            <label>Categoría (Actual)</label>
                        </div>
                        <input id="nombrecat-actual-dos" class="text input-disabled" type="text" readonly="readonly" name="nombre_cat" >
                    </div>

                    <div class="datos-popup contenedor-inputs">
                        <div class="label-popup">
                            <label>Subcategoría (Actual)</label>
                        </div>
                        <input id="nombresubcat-actual-dos" class="text input-disabled" type="text" readonly="readonly" name="nombre_subcat" >
                    </div>

                    <div class="datos-popup contenedor-inputs">
                        <label>Modificar Subcategoría</label>
                        <input placeholder="Ingrese el nuevo nombre de la subcategoría" class="text" type="text" name="new_nombre_subcat" required >
                    </div>
                    
                    <div class="boton">
                        <button type="submit">Modificar categoría</button>
                    </div>
				</form>
			</div>
            
		</div>
        
        
        <script src="js/popup.js"></script>
            
    </div>

    <!-- Fin sección del contenido (Cuerpo general)  -->

<%- include ('partials-admin/_footer-admin')  %>