<%- include ('partials-admin/_header-admin')  %>

    <!-- Sección del contenido (Cuerpo general) -->
    <div class="content">

        <div class="container-tabla">
            <h3 class="text-center">Talleres</h3>
            <div class="busqueda">
                <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Buscar...">
            </div>

            <table class="table order-table text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>RUT (responsable)</th>
                        <th>Nombre actividad</th>
                        <th>Fecha Inicio</th>    
                        <th colspan="3">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                            <tr>
                                <td> <%= data[i].codigo_actividad %> </td>
                                <td> <%= data[i].rut_responsable %> </td>
                                <td> <%= data[i].nombre_actividad %> </td>
                                <td> <%= data[i].fecha_dia  + "-" + data[i].fecha_mes + "-" + data[i].fecha_anio %> </td>
                                <td>
                                    <a href="/eliminar-atractivo-reg/<%= data[i].codigo_actividad%>" class="boton eliminar">Eliminar</a>
                                </td>
                                <td>
                                    <a href="/" class="boton actualizar">Modificar</a>
                                </td>
                                <td>
                                    <a href="/" class="boton info">Detalles</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>    
        </div>

        <div class="separador"></div>

        <div class="container-form">
            <h3 class="text-center">Agregar un taller</h3>
            <form action="/agregar-atractivo" enctype="multipart/form-data" method="POST">
                <div class="datos">
                    <label>Nombre</label>
                    <div class="input-user">
                        <input class="text" type="text" name="titulo" placeholder="Nombre de la actividad" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Rut responsable</label>
                    <div class="input-user">
                        <input class="text" type="text" name="rut" placeholder="Ingrese un RUT" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Fecha de inicio</label>
                    <div class="input-user">
                        <input class="text" type="date" name="finicio" placeholder="Ingresar la dirección del lugar, Ej: “Barros Luco 1881, San Antonio, Chile”" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Fecha de termino</label>
                    <div class="input-user">
                        <input class="text" type="date" name="ftermino" placeholder="Ingresar la dirección del lugar, Ej: “Barros Luco 1881, San Antonio, Chile”" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Dirección</label>
                    <div class="input-user">
                        <input class="text" type="text" name="direccion" placeholder="Ingrese la dirección de la actividad" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Cupos</label>
                    <div class="input-user">
                        <input class="text" type="number" name="cupos" placeholder="Ingrese el máximo de participantes" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Área</label>
                    <div class="input-user">
                        <input class="text" type="text" name="area" placeholder="Ingrese el área de la actividad" required>
                    </div>
                </div>
                
                
                <div class="datos">
                    <label for="cars">Seleccione la modalidad de la actividad</label>
                    <select id="mySelect" name="modalidad">
                       
                        <option class="category_item" value="PRESENCIAL">Presencial</option>
                        <option class="category_item" value="ONLINE">Online</option>
                    </select required>
                </div>
                <div class="datos">
                    <label>Requisitos</label>
                    <div class="input-user">
                        <textarea class="text" name="requisitos" id="" placeholder="Ingrese algún requisito para esta actividad" required="required"></textarea >
                    </div>
                </div>
                <div class="datos">
                    <label for="cars">Adjunte imagen (Tamaño máximo: 5 MB - Formato: JPG o PNG): </label>
                    <div style="text-align: center;">
                        <input class="file" type="file" name='img' required>
                    </div>
                </div>  
                
                <div class="boton">
                    <button type="submit">Agregar servicio</button>
                </div>
            </form>
        </div>
            
    </div>
    
    

    <!-- Fin sección del contenido (Cuerpo general)  -->

<%- include ('partials-admin/_footer-admin')  %>