<%- include ('partials-home/_header-home')  %> 

        <div class="slide">
            <div class="slide-body">
                <input type="radio" id="i1" name="images" checked />
                
                <div class="slide_img" id="one"> <img src="/img/<%= data[0].img || 'default.png'%>"> </div>
    
                <div id="nav-slide">
                    <label for="i1" class="dots" id="dot1"></label>
                </div>
            </div>
        </div>
        <%= console.log(data[0])%>
        <div class="title">
            <h2 class="centrado texto-ng"><%= data[0].nombre_actividad%></h2>
        </div>

        <div class="descripcion">
            <h3 class="texto-ng mediano"> <%= data[0].descripcion%></h3>
        </div>

        

        
<%- include ('partials-home/_footer-home')  %>   