<%- include ('partials-admin/_header-admin')  %>

    <!-- Sección del contenido (Cuerpo general) -->
    <div class="content">

        <div class="container-tabla">
            <h3 class="text-center">servicios regionales</h3>
            <div class="busqueda">
                <input class="busqueda-input search" data-table="order-table" type="text" placeholder="Buscar...">
            </div>

            <table class="table order-table text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuario (Correo)</th>
                        <th>Título</th>
                        <th>Geolocalización</th>
                        <th>Telefono</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% for(var i = 0; i < data.length; i++) { %>
                            
                            <tr>
                                <td> <%= data[i].id_servicio %> </td>
                                <td> <%= data[i].correo || 'Desconocido' %> </td>
                                <td> <%= data[i].titulo %> </td>
                                <td> <%= data[i].geo_local %> </td>
                                <td> <%= data[i].telefono %> </td>
                                <td>
                                    <a href="/eliminar-servicio-reg/<%= data[i].id_servicio %>" class="boton eliminar">Eliminar</a>
                                </td>
                                <td>
                                    <a href="/modificar-servicio-reg/<%= data[i].id_servicio %>" class="boton actualizar">Modificar</a>
                                </td>
                            </tr>
                            
                        <% } %>
                    <% } %>
                </tbody>
            </table>
                
        </div>

        <div class="separador"></div>

        <div class="container-form">
            <h3 class="text-center">Agregar un servicio</h3>
            <form action="/agregar-servicio" method="POST" enctype="multipart/form-data">
                <div class="datos">
                    <label>Título</label>
                    <div class="input-user">
                        <input class="text" type="text" name="titulo" placeholder="Título o nombre del lugar" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Descripción</label>
                    <div class="input-user">
                        <textarea class="text" name="descripcion" id="" placeholder="Escriba aquí la descripción completa del servicio" required="required"></textarea>
                    </div>
                </div>
                <div class="datos">
                    <label>Ubicación</label>
                    <div class="input-user">
                        <input class="text" type="text" name="geo_local" placeholder="Ingresar la dirección del lugar, Ej: “Barros Luco 1881, San Antonio, Chile”" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Teléfono o Celular</label>
                    <div class="input-user">
                        <input class="text" type="number" name="telefono" placeholder="Ingrese el teléfono de contacto" required>
                    </div>
                </div>
                <div class="datos">
                    <label>Correo electrónico </label>
                    <div class="input-user">
                        <input class="text" type="email" name="contacto_correo" placeholder="Ingrese el correo de contacto" required>
                    </div>
                </div>
                <p>"Ingrese los enlace para los perfiles correspondientes."</p>
                <div class="datos">
                    <label>Facebook (opcional) </label>
                    <div class="input-user">
                        <input class="text" name="facebook" id="" value="https://www.facebook.com/"></input>
                    </div>
                </div>
                <div class="datos">
                    <label>Twitter (opcional) </label>
                    <div class="input-user">
                        <input class="text" name="twitter" id="" value="https://twitter.com/"></input>
                    </div>
                </div>
                <div class="datos">
                    <label>Instagram (opcional) </label>
                    <div class="input-user">
                        <input class="text" name="instagram" id="" value="https://www.instagram.com/"></input>
                    </div>
                </div>
                <div class="datos">
                    <label>Sitio web (opcional)</label>
                    <div class="input-user">
                        <input class="text" name="web" id="" placeholder="Ingrese el enlace de la página web"></input>
                    </div>
                </div>
                <div class="datos">
                    <label for="cars">Seleccione la categoría de su servicio:</label>
                    <select id="mySelect" name="nombre_cat">
                        <% for(var i=0; i < datacat.length; i++) { %>
                        <option class="category_item" value="<%= datacat[i].nombre_cat %>"><%= datacat[i].nombre_cat %></option>
                        <% } %>
                    </select required>
                </div>
                <div class="datos">
                    <label for="cars">Seleccione la subcategoría de su servicio:</label>
                    <select id="mySelectDos" name="nombre_subcat">
                        <option class="category_item_dos" value="null">Ninguna</option>
                        <% for(var i=0; i < dataSubcategoria.length; i++) { %>
                        <option class="category_item_dos" all="all" category="<%= dataSubcategoria[i].nombre_cat %>" value="<%= dataSubcategoria[i].nombre_subcat %>" ><%= dataSubcategoria[i].nombre_subcat %></option>
                        <% } %>
                    </select>
                </div>
                <div class="datos">
                    <label for="cars">Adjunte imagen (Tamaño máximo: 5 MB - Formato: JPG o PNG): </label>
                    <div style="text-align: center;">
                        <input class="file" type="file" name='img' required>
                    </div>
                </div>
                <div class="boton">
                    <button type="submit">Agregar servicio</button>
                </div>
            </form>
        </div>
            
    </div>

    <script>
        $(document).ready(function(){

            $('#mySelectDos option[all="all"]').hide();
            $('#mySelectDos option[category="Agencias y TTOO"]').show();
            // combobox y servicios
            $('#mySelect').on('change', function() {
                
                var value = $(this).val();
                //var Todos =   $("#mySelect option[value='Todos']").attr("selected", true);
                

                $('#mySelectDos option[all="all"]').hide();
                $('#mySelectDos').val("null");
                $('#mySelectDos option[category="' + value + '"]').show();

                

                
            });

        });

    </script>

<%- include ('partials-admin/_footer-admin')  %>