<%- include ('partials-home/_header-home')  %> 

        <div class="mis-servicios">
            <div class="cont-serv">
                <h2 class="centrado texto-ng mayus">Servicios pendientes</h2>
                <table class="table order-table centrado texto-ng">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Ubicación</th>
                            <th colspan="2">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                        <% for(var i=0; i < data.length; i++) { %>
                        <% if (data[i].solicitud == 0) { %>
                            <tr>
                                <td> <%= data[i].titulo %></td>
                                <td> <%= data[i].geo_local %></td>
                                <td> 
                                    <a onclick="return confirm('¿Está seguro que desea eliminar la solicitud?')" href="/cancelar-servicio-emp/<%= data[i].id_servicio %>" class="boton-act cancelar">Cancelar</a>
                                </td>
                            </tr>
                        <% } %>
                        <% } %>
                        <% } %> 
                    </tbody>
                </table>
            </div>
            <div class="cont-serv">
                <h2 class="centrado texto-ng">MIS SERVICIOS</h2>
                <div class="divisor">
                    <div class="divisor-linea linea-ng"></div>
                    <div class="divisor-icon icon-ng"><i class="fas fa-concierge-bell"></i></div>
                    <div class="divisor-linea linea-ng"></div>
                </div>
                <div class="tarjetas">
                    <% var cont=0;%>
                    <% if (data) { %>
                        <div class="row">
                        <% for(var i=0; i < data.length; i++) { %>
                            <% cont=1;%>
                            <% if (data[i].solicitud == 1) { %>
                                <div id="tarj" class="tarjeta" all="all" category="<%= data[i].nombre_cat%>">
                                    <div class="baner">
                                        <p class="mayus negrita"><%= data[i].titulo %></p>
                                        <p><%= data[i].nombre_cat %></p>
                                    </div>
                                    <a href="/servicio/<%= data[i].id_servicio%>">
                                        <img src="/img/<%= data[i].img || 'default.png'%>">
                                        <div class="overlay overlayFade" style="border-radius: 0px;">
                                            <a href="/servicio/<%= data[i].id_servicio%>" class="boton-act aceptar" style="margin-top: 40px;">Ver servicio</a>
                                            <a href="/modificar-servicio-emp/<%= data[i].id_servicio %>" class="boton-act actualizar">Modificar</a>
                                            <a onclick="return confirm('¿Está seguro que desea eliminar el servicio?')" href="/eliminar-servicio/<%= data[i].id_servicio%>" class="boton-act eliminar">Eliminar</a>
                                        </div>
                                    </a>
                                </div>
                            <% } %>
                        <% } %>
                        </div>
                    <% } %>
                    
                    <% if (cont==0) { %>
                        <h4 id="msj" class="centrado texto-ng text-h4">Lo sentimos, no hay publicaciones disponibles.</a></h4>
                    <% } %>
                    
                </div>
            </div>
        </div>

        <div class="form-user">
            <div class="separador"></div>
            <div class="container-form">
                <h2 class="centrado texto-ng" id="add-service">INGRESO DE SERVICIO</h2>
                <form action="agregar-servicio-emprendedor" enctype="multipart/form-data" method="POST">
                    <div class="data">
                        <h3 class="negrita">Título</h3>
                        <div class="input-user">
                            <input class="" name="titulo" type="text" placeholder="Título" required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Descripción</label>
                        <div class="input-user">
                            <textarea class="" name="descripcion"  placeholder="Escriba aquí la descripción completa del servicio"></textarea required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Ubicación</label>
                        <div class="input-user">
                            <input class="text" type="text" name="geo_local" placeholder="Ingresar la dirección del lugar, Ej: “Barros Luco 1881, San Antonio, Chile”" required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Teléfono o Celular (Contacto)</label>
                        <div class="input-user">
                            <input class="text" type="number" name="contacto_tel" placeholder="Ingrese el teléfono o celular de contacto" required>
                        </div>
                    </div>
                    <div class="data">
                        <label>Correo electrónico (Contacto) </label>
                        <div class="input-user">
                            <input class="text" type="email" name="contacto_correo" placeholder="Ingrese el correo de contacto" required>
                        </div>
                    </div>
                    <p>A continuación ingrese los enlace para los perfiles correspondientes.</p>
                    <div class="data">
                        <label>Facebook (opcional) </label>
                        <div class="input-user">
                            <input class="text" name="facebook" id="" value="https://www.facebook.com/"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label>Twitter (opcional) </label>
                        <div class="input-user">
                            <input class="text" name="twitter" id="" value="https://twitter.com/"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label>Instagram (opcional) </label>
                        <div class="input-user">
                            <input class="text" name="instagram" id="" value="https://www.instagram.com/"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label>Sitio web (opcional)</label>
                        <div class="input-user">
                            <input class="text" name="web" id="" placeholder="Ingrese el enlace de la página web"></input>
                        </div>
                    </div>
                    <div class="data">
                        <label for="cars">Seleccione la categoría del servicio:</label>
                        <select class="select-user" id="mySelect" name="nombre_cat">
                            <% for(var i=0; i < datacat.length; i++) { %>
                            <option class="category_item" value="<%= datacat[i].nombre_cat %>"><%= datacat[i].nombre_cat %></option>
                            <% } %>
                        </select required>
                    </div>
                    <div class="data">
                        <label for="cars">Seleccione la subcategoría de su servicio:</label>
                        <select class="select-user" id="mySelectDos" name="nombre_subcat">
                            <option class="category_item_dos" value="null">Ninguna</option>
                            <% for(var i=0; i < dataSubcategoria.length; i++) { %>
                            <option class="category_item_dos" all="all" category="<%= dataSubcategoria[i].nombre_cat %>" value="<%= dataSubcategoria[i].nombre_subcat %>" ><%= dataSubcategoria[i].nombre_subcat %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="dataimage">
                        <label for="cars">Adjunte imagen (Tamaño máximo: 5 MB - Formato: JPG o PNG): </label>
                        <input class="file" type="file" name='img' required>
                    </div>
                    <div class="boton">
                        <button type="submit">Enviar registro</button>
                    </div>
                    <div class="data">
                        <p class="centrado">"Tener en cuenta que la publicación puede ser eliminada en caso de no cumplir 
                            normas basicas de moral, tales como, fotos inadecuadas, comentarios inapropiados, etc."</p>
                    </div>
                </form>
            </div>
        </div>
        
        <script>
            $(document).ready(function () {
                
                $('#mySelectDos option[all="all"]').hide();
                $('#mySelectDos option[category="Agencias y TTOO"]').show();
                // combobox y servicios
                $('#mySelect').on('change', function () {

                    var value = $(this).val();
                    //var Todos =   $("#mySelect option[value='Todos']").attr("selected", true);
                    
                    $('#mySelectDos option[all="all"]').hide();
                    $('#mySelectDos').val("null");
                    $('#mySelectDos option[category="' + value + '"]').show();

                });

            });
    
        </script>

        <%- include ('partials-home/_footer-home')  %>   